body {
    padding-top: 50px;
}

.clear {
    clear: both;
}

.ricoh-theta-spherical-image,
.view-360 {
    margin: 0 auto !important;
    text-align: center;
    display: block;
}

.lightbox-wrap {
    text-align: center;
    margin-top: 20px;
}

.lightbox-wrap > a > img {
    max-height: 150px;
    margin-left: 10px;
    margin-top: 10px;
}

.lightbox-wrap > a {
    display: block;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
